{% extends 'base.html' %}


{% block content %}

<div class="text-center">
    <h1>Insert data</h1>
</div>

<div class="col-xs-12" style="height:30px;"></div>

<div class="container bg-gradient" id="insert_statement">
    <form method="POST" action="/insert">
        {{ insert_form.csrf_token }}
        <table class="table table-sm">
            <thead class="thead-light">
                <tr align="center">
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Age</th>
                    <th scope="col">Sex</th>
                    <th scope="col">BMI</th>
                    <th scope="col">Number of children</th>
                    <th scope="col">Is a smoker?</th>
                    <th scope="col">Region</th>
                    <th scope="col">Charges</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <th scope="row">Insert data:</th>
                    <td>{{ insert_form.age (class="form-control form-control-sm") }}</td>
                    <td>{{ insert_form.sex (class="form-control form-control-sm") }}</td>
                    <td>{{ insert_form.bmi (class="form-control form-control-sm") }}</td>
                    <td>{{ insert_form.children (class="form-control form-control-sm") }}</td>
                    <td>{{ insert_form.smoker (class="form-control form-control-sm") }}</td>
                    <td>{{ insert_form.region (class="form-control form-control-sm") }}</td>
                    <td>{{ insert_form.charges (class="form-control form-control-sm") }}</td>
                </tr>
            </tbody>
        </table>
        {{ insert_form.submit (class="btn btn-primary btn-sm", onclick='addinput()', style="background-color: #1e6eb0; float:right;") }}
    </form>
</div>

<script type="text/javascript">
    function ShowStatement() {
        var insert = document.getElementById("insert");
        var select = document.getElementById("select");
        var update = document.getElementById("update");
        var del = document.getElementById("del");

        var insert_statement = document.getElementById("insert_statement");
        var select_statement = document.getElementById("select_statement");
        var update_statement = document.getElementById("update_statement");
        var del_statement = document.getElementById("del_statement");

        insert_statement.style.display = insert.checked ? "block" : "none";
        select_statement.style.display = select.checked ? "block" : "none";
        update_statement.style.display = update.checked ? "block" : "none";
        del_statement.style.display = del.checked ? "block" : "none";
    }

    function SelectAll(source) {
        checkboxes = document.getElementsByName('select_checkbox');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>

{% endblock content %}
