{% extends 'base.html' %}


{% block content %}

<div class="text-center">
    <h1>Update data</h1>
</div>

<div class="col-xs-12" style="height:30px;"></div>

<div class="container" id="update_statement">
    <form method="POST" action="" id="upd_form">
        {{ update_form.csrf_token }}
        <table class="table table-sm">
            <thead class="thead-light">
                <tr align="center">
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Attribute</th>
                    <th scope="col">New Value</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Attribute</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <th scope="row">Update data:</th>
                    <td>{{ update_form.attribute (class="form-control form-control-sm") }}</td>
                    <td>{{ update_form.new_value (class="form-control form-control-sm") }}</td>
                    <th scope="row">From:</th>
                    <td>{{ update_form.from_attribute (class="form-control form-control-sm") }}</td>
                    <td>{{ update_form.from_value (class="form-control form-control-sm") }}</td>
                    <tr align="center">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <th scope="row">Condition:</th>
                        <td>{{ update_form.condition_attribute (class="form-control form-control-sm") }}</td>
                        <td>{{ update_form.condition_value (class="form-control form-control-sm") }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
        {{ update_form.submit (class="btn btn-primary btn-sm", form="upd_form", style="background-color: #1e6eb0; float:right;") }}
    </form>
</div>


{% endblock content %}
