{% extends 'base.html' %}


{% block content %}

<div class="container" id="update_statement">
    <form method="POST" action="" id="upd_form">
        {{ update_form.csrf_token }}
        <table class="table table-sm">
            <thead class="thead-light">
                <tr align="center">
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Attribute</th>
                    <th scope="col">New Value</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">Attribute</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <th scope="row">Update data:</th>
                    <td>{{ update_form.attribute (class="form-control form-control-sm") }}</td>
                    <td>{{ update_form.new_value (class="form-control form-control-sm") }}</td>
                    <th scope="row">From:</th>
                    <td>{{ update_form.from_attribute (class="form-control form-control-sm") }}</td>
                    <td>{{ update_form.from_value (class="form-control form-control-sm") }}</td>
                    <tr align="center">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <th scope="row">Condition:</th>
                        <td>{{ update_form.condition_attribute (class="form-control form-control-sm") }}</td>
                        <td>{{ update_form.condition_value (class="form-control form-control-sm") }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
        {{ update_form.submit (class="btn btn-primary btn-sm", form="upd_form", style="float: right;") }}
    </form>
</div>

<script type="text/javascript">
    function ShowStatement() {
        var insert = document.getElementById("insert");
        var select = document.getElementById("select");
        var update = document.getElementById("update");
        var del = document.getElementById("del");

        var insert_statement = document.getElementById("insert_statement");
        var select_statement = document.getElementById("select_statement");
        var update_statement = document.getElementById("update_statement");
        var del_statement = document.getElementById("del_statement");

        insert_statement.style.display = insert.checked ? "block" : "none";
        select_statement.style.display = select.checked ? "block" : "none";
        update_statement.style.display = update.checked ? "block" : "none";
        del_statement.style.display = del.checked ? "block" : "none";
    }

    function SelectAll(source) {
        checkboxes = document.getElementsByName('select_checkbox');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>

{% endblock content %}
